<div class="container">
  <h1>Welcome To Dummy User</h1>
  <h2>Create Your Account</h2>

  <div class="signup_area">
    
    <form action="/successfully_create_ac" method = "post">
      <p>First Name:</p>
        <input type="text" name = "first_name">
      <p>Last Name:</p>
        <input type="text" name = "last_name">
      <p>Email:</p>
        <input type="text" name = "email">
      <p>Password:</p>
        <input type="password" name = "password"><br><br>
      <input type="submit" name="submit">
    </form>

  </div>


</div>

