<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Log In</p>
  <div class="login_area">
    
    <form action="/secret_page" method = "post">
      <p>Username:</p>
      <input type="text" name = "email">
      <p>Password:</p>
      <input type="password" name = "password">
      <input type="submit" name="submit">
    </form>

  </div>
<br><br>
<a href = "/create_account">Create Account</a>

</div>

